body {
    background-color: #032b55;
    color: white;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-wrap: nowrap;
}

span {
    padding: 14px;
}

.seperation {
    background-color: grey;
    height: 2px;
    margin: 11px 0px;
    max-width: 150vw;
}

.navdiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 90vw;


}

ul li {
    list-style: none;
    display: inline-block;
    padding: 12px;
    font-size: 18px;
}

.img img {
    width: 170px;
    text-align: center;
    margin-left: 12px;
}

.contain {
    position:relative;
    display: inline;
    justify-content: space-between;
    align-items: center;

}

.girlimg {
    max-width: 538px;
    padding: 33px;

}

.rank {
    margin-top: 22px;
    padding: 12px;
    border: 2px dotted red;
    border-width: 3px;

}
.contain> .head {
    display: inline-flex;
    position: relative;
}

h1 {
    position:absolute;
    display: inline;
    flex-wrap: wrap;
    font-size: 63px;
    justify-content: end;
    font-weight: 900;
    bottom: 182px;
    width: 40vw;
}
p {
    position: absolute;
    font-size: 18px;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    width: 40vw;
    bottom: 142px;
    

}
.box {
    display: inline-flex;
    padding: 43px;
    position: relative;
    margin: 0px 42px;
    border: 2px solid white;
}

